<div class="container">

  <div id="login">

    <div id="login-form-wrapper">

      <div id="login-form">

        <!-- <mat-card class="center-item"> -->

        <!-- logo -->
        <div class="text-center">
          <img class="logo" src="https://www.freelogodesign.org/Content/img/logo-ex-7.png" alt="Logo">
        </div>
        <!-- / logo -->

        <!-- title text -->
        <div class="text-center">
          <h3 style="margin: 0;">Sign in</h3>
          <p>Sign in to countinue</p>
        </div>
        <!-- / title text -->

        <div class="login-form">

          <!-- login form -->
          <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>

            <!-- email -->
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" required matInput formControlName="email" placeholder="Enter your email" cdkFocusInitial>
                <mat-icon matSuffix>mail</mat-icon>
                <mat-error>
                  <span *ngIf="loginForm.get('email').hasError('required')"> Email is required </span>
                  <span *ngIf="loginForm.get('email').hasError('email')"> Enter valid email </span>
                </mat-error>
              </mat-form-field>
            </p>
            <!-- / email -->

            <!-- password -->
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" required matInput formControlName="password" placeholder="Enter password">
                <mat-icon matSuffix>vpn_key</mat-icon>
                <mat-error>
                  <span *ngIf="loginForm.get('password').hasError('required')"> Password is required</span>
                  <span *ngIf="loginForm.get('password').hasError('minlength')"> Enter valid password </span>
                </mat-error>
              </mat-form-field>
            </p>
            <!-- / password -->

            <div class="row">

              <!-- Submit button (Login) -->
              <div class="col">
                <button mat-raised-button color="primary" style="float: right;" type="submit" cdkFocusInitial>Login</button>
              </div>
              <!-- / Submit button (Login) -->

            </div>

          </form>
          <!-- / login form -->

        </div>

        <!-- </mat-card> -->

      </div>

    </div>

  </div>

</div>