<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{_data[0] | titlecase}} Level</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

        <form class="compose-form" fxLayout="column" fxFlex [formGroup]="form">

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Question Id</mat-label>
                    <input matInput name="question_id" placeholder="Question Id" type="number"
                        formControlName="question_id" required>
                    <mat-error *ngIf="formErrors.question_id.errors && formErrors.question_id.errors.required">
                        Question Id is required!
                    </mat-error>
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Level</mat-label>
                    <input matInput placeholder="Level" formControlName="level" required>
                    <mat-error *ngIf="formErrors.level.errors && formErrors.level.errors.required">
                        Level is required!
                    </mat-error>
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Question</mat-label>
                    <input matInput placeholder="Question" formControlName="question" required>
                    <mat-error *ngIf="formErrors.question.errors && formErrors.question.errors.required">
                        Question is required!
                    </mat-error>
                </mat-form-field>

            </div>

            <p class="p-12">Options :</p>

            <div formArrayName="options">

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto"
                    *ngFor="let item of optionsArray.controls; let i = index;" [formGroupName]="i">

                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Option {{i +1}}</mat-label>
                        <input matInput placeholder="Option {{i}}" formControlName="option" required>
                    </mat-form-field>

                </div>

            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field appearance="outline" fxFlex="50" class="mr-20">
                    <mat-label>Score</mat-label>
                    <input matInput placeholder="Score" formControlName="score" required>
                    <mat-error *ngIf="formErrors.score.errors && formErrors.score.errors.required">
                        Score is required!
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="50">
                    <mat-label>Date</mat-label>
                    <input matInput placeholder="Date" type="date" formControlName="date" required>
                    <mat-error *ngIf="formErrors.date.errors && formErrors.date.errors.required">
                        Date is required!
                    </mat-error>
                </mat-form-field>

            </div>

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <button mat-raised-button (click)="matDialogRef.close(['send',form])" class="save-button mat-accent"
                [disabled]="form.invalid" aria-label="SAVE">
                SAVE
            </button>
        </div>
    </div>

</div>