<div class="grid-container">

  <!-- Page title -->
  <h1 class="mat-h1">Dashboard</h1>
  <!-- / Page title -->

  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">

      <!-- Card -->
      <mat-card class="dashboard-card">

        <!-- card-header -->
        <mat-card-header>

          <!-- card-title -->
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>

            <!-- card-options menu list -->
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
            <!-- / card-options menu list -->

          </mat-card-title>
          <!-- / card-title -->

        </mat-card-header>
        <!-- / card-header -->

        <mat-card-content class="dashboard-card-content">

          <!-- Card 1 Contnent -->
          <div *ngIf="card.id == 1">
            <mat-spinner style="margin:0 auto;" diameter='50' mode="indeterminate" *ngIf="loading"></mat-spinner>
            <div *ngIf="!loading"> Card Content Here - 1 </div>
          </div>

          <!-- Card 2 Contnent -->
          <div *ngIf="card.id == 2">
            <mat-spinner style="margin:0 auto;" diameter='50' mode="indeterminate" *ngIf="loading"></mat-spinner>
            <div *ngIf="!loading"> Card Content Here - 2 </div>
          </div>

          <!-- Card 3 Contnent -->
          <div *ngIf="card.id == 3">
            <mat-spinner style="margin:0 auto;" diameter='50' mode="indeterminate" *ngIf="loading"></mat-spinner>
            <div *ngIf="!loading"> Card Content Here - 3 </div>
          </div>

          <!-- Card 4 Contnent -->
          <div *ngIf="card.id == 4">
            <mat-spinner style="margin:0 auto;" diameter='50' mode="indeterminate" *ngIf="loading"></mat-spinner>
            <div *ngIf="!loading"> Card Content Here - 4 </div>
          </div>

        </mat-card-content>

      </mat-card>
      <!-- / Card -->

    </mat-grid-tile>
  </mat-grid-list>

</div>