<div class="page-layout simple fullwidth">

  <!-- HEADER -->
  <div class="header mat-accent-bg p-24" fxLayout="row" fxLayoutAlign="start center">
      <h2>Level List</h2>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content p-24 mat-white-bg">
    <ag-grid-angular
      #agGrid
      style="width: 100%; min-height: 10%;"
      id="myGrid"
      class="ag-theme-balham"
      [columnDefs]="columnDefs"
      [autoGroupColumnDef]="autoGroupColumnDef"
      [defaultColDef]="defaultColDef"
      [suppressRowClickSelection]="true"
      [groupSelectsChildren]="true"
      [debug]="true"
      [rowSelection]="rowSelection"
      [rowGroupPanelShow]="rowGroupPanelShow"
      [pivotPanelShow]="pivotPanelShow"
      [enableRangeSelection]="true"
      [suppressDragLeaveHidesColumns]="true"
      [suppressMakeColumnVisibleAfterUnGroup]="true"
      [rowSelection]="rowSelection"
      [pagination]="true"
      [paginationPageSize]="10"
      [floatingFilter]="true"
      [paginationNumberFormatter]="paginationNumberFormatter"
      [suppressRowClickSelection]="true"
      [rowData]="rowData"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
  </div>
  <!-- / CONTENT -->

</div>