<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Edit User</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

        <form name="composeForm" [formGroup]="composeForm" class="compose-form" fxLayout="column" fxFlex>

            <mat-form-field appearance="outline">
                <mat-label>Mht ID</mat-label>
                <input matInput name="mht_id" placeholder="Mht ID" type="number" formControlName="mht_id">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput name="name" placeholder="Name" type="text" formControlName="name">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Mobile</mat-label>
                <input matInput name="mobile" placeholder="Mobile" type="text" formControlName="mobile">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput name="email" placeholder="Email" type="email" formControlName="email">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Totalscore</mat-label>
                <input matInput name="totalscore" placeholder="Totalscore" formControlName="totalscore">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>User Group</mat-label>
                <input matInput name="user_group" placeholder="User Group" formControlName="user_group">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Lives</mat-label>
                <input matInput name="lives" placeholder="Lives" formControlName="lives">
            </mat-form-field>

        </form>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <button mat-raised-button (click)="matDialogRef.close(['send',composeForm])" class="save-button mat-accent"
                [disabled]="composeForm.invalid" aria-label="SAVE">
                SAVE
            </button>
        </div>
    </div>
</div>