/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

button {
    text-transform: none;
    padding: 0 16px;
    /* height: 32px; */
    line-height: 32px;
    margin: 0 0 0 8px;
}

.my-dialog .mat-dialog-container {
    border-radius: 10px;
}