<div id="users" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header mat-accent-bg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
      fxLayoutAlign.gt-xs="space-between center">

      <!-- APP TITLE -->
      <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
          account_circle
        </mat-icon>
        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          Users
        </span>
      </div>
      <!-- / APP TITLE -->

      <!-- SEARCH -->
      <div class="search-input-wrapper mx-24 m-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
        <label for="search" class="mr-8">
          <mat-icon class="secondary-text">search</mat-icon>
        </label>
        <mat-form-field floatLabel="never" fxFlex="1 0 auto">
          <input id="search" matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
      </div>
      <!-- / SEARCH -->

      <button mat-raised-button [routerLink]="'/apps/e-commerce/products/new'"
        class="add-product-button mat-white-bg my-12 mt-sm-0">
        <span>ADD NEW USER</span>
      </button>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">

      <mat-table class="users-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
        fusePerfectScrollbar>

        <!-- ID Column -->
        <ng-container matColumnDef="mht_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>MHT ID</mat-header-cell>
          <mat-cell *matCellDef="let user">
            <p class="text-truncate">{{user.mht_id}}</p>
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let user">
            <p class="text-truncate">{{user.name}}</p>
          </mat-cell>
        </ng-container>

        <!-- Center Column -->
        <ng-container matColumnDef="center">
          <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Center</mat-header-cell>
          <mat-cell *matCellDef="let user" fxHide fxShow.gt-md>
            <p class="category text-truncate">
              {{user.center}}
            </p>
          </mat-cell>
        </ng-container>

        <!-- Mobile Column -->
        <ng-container matColumnDef="mobile">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Mobile</mat-header-cell>
          <mat-cell *matCellDef="let user" fxHide fxShow.gt-xs>
            <p class="price text-truncate">
              {{user.mobile}}
            </p>
          </mat-cell>
        </ng-container>

        <!-- Totalscore Column -->
        <ng-container matColumnDef="totalscore">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Totalscore</mat-header-cell>
          <mat-cell *matCellDef="let user" fxHide fxShow.gt-sm>

            <span class="quantity-indicator text-truncate"
              [ngClass]="{'mat-red-500-bg':user.totalscore <= 500, 'mat-amber-500-bg':user.totalscore > 500 && user.totalscore <= 1500,'mat-green-600-bg':user.totalscore > 1500}">
            </span>
            <span>
              {{user.totalscore}}
            </span>

          </mat-cell>
        </ng-container>

        <!-- Active Column -->
        <ng-container matColumnDef="isactive">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Active</mat-header-cell>
          <mat-cell *matCellDef="let user" fxHide fxShow.gt-xs>
            <mat-icon *ngIf="user.isactive" class="active-icon mat-green-600-bg s-16">check</mat-icon>
            <mat-icon *ngIf="!user.isactive" class="active-icon mat-red-500-bg s-16">close</mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

        <mat-row *matRowDef="let product; columns: displayedColumns;" class="users" matRipple
          [routerLink]="'/apps/e-commerce/products/'+product.id+'/'+product.handle">
        </mat-row>

      </mat-table>

      <mat-paginator #paginator [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>